{% extends 'home/layout.html' %}

{% block content %}

<form  name ="search" action="" method="POST">{% csrf_token %}
    <p>Order by:</p>
    <select style="display: block" id="category" name="category" placeholder="category">
        <option value="artshow">Artshow</option>
        <option value="artistid">Artist</option>
        <option value="artworkid">Artwork</option>
        <option value="dateandtime">Date/Time</option>
        <option value="locationid">Location</option>
        <option value="contactid">Contact</option>
        <option value="customerid">Customer</option>
    </select>
    
    <select style="display: block;" id='sort' name='sort'>
        <option value="ascending">ascending</option>
        <option value="descending">descending</option>
    </select>
    <p>Search</p>
    <input id= "title" type="text" name="title" placeholder="Title" />
    <input type="submit" value="Submit" />


</form>

<h6 style="padding-top: 50px; padding-bottom: 20px;">{{title}}</h6>

<ul id= "data" class="collection">
    {% for artshow in artshows %}
        <li class="collection item"> {{artshow.artshow}} | {{artshow.artistid}} | {{artshow.artworkid}} | {{artshow.dateandtime}} | {{artshow.locationid}} | {{artshow.contactid}} | {{artshow.customerid}}   </li>
    {% endfor %}
</ul>

<a href="../"> Home</a>

{% endblock %}