{% extends 'home/layout.html' %}

{% block content %}

<ul class="collection">
    <li class="collection-item"><a href="/home/artists"> Artists</a></li>
    <li class="collection-item"><a href="/home/styles">Styles</a></li>
    <li class="collection-item"><a href="/home/locations">Locations</a></li>
    <li class="collection-item"><a href="/home/artworks">Artworks</a></li>
    <li class="collection-item"><a href="/home/contacts">Contacts</a></li>
    <li class="collection-item"><a href="/home/customers">Customers</a></li>
    <li class="collection-item"><a href="/home/artshows">Artshows</a></li>
</ul>


{% endblock %}